@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

@media only screen and (max-width: 649px) {
    .nav-bar {
        /* background-color: #002433; */
        background-color: #141414;
        width: 100vw;
        height: 10vh;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #faffff;
        font-family: "Itim";
        border-bottom: 3px solid #00ff93;
    }
    .nav-bar .left-part {
        width: 85vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
    }

    .nav-title h2 {
        font-size: 1rem;
    }

    .nav-bar .right-part {
        width: 40vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-bar .right-part .nav-buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .nav-bar .right-part .nav-buttons button {
        width: 15vw;
        /* background-color: #002433; */
        background-color: #141414;
        color: #fafafa;
        font-size: 10px;
    }
    .nav-bar .left-part .search-part {
        display: none;
    }


}

@media only screen and (min-width: 649px) {
    .nav-bar {
        /* background-color: #002433; */
        background-color: #141414;
        width: 100vw;
        height: 10vh;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #faffff;
        font-family: "Itim";
        border-bottom: 3px solid #00ff93;
    }
    .nav-bar .left-part {
        width: 60vw;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .nav-title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
    }

    .nav-title h2 {
        font-size: 1rem;
    }

    .nav-bar .right-part {
        width: 40vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-bar .right-part .nav-buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .nav-bar .right-part .nav-buttons button {
        width: 15vw;
        /* background-color: #002433; */
        background-color: #141414;
        color: #fafafa;
    }
    .nav-bar .left-part .search-part {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 80%;
        height: 100%;
    }
    .nav-bar .left-part .search-part input {
        /* background-color: #002433; */
        background-color: #141414;
        /* border: 1px solid #819ba2; */
        border: 1px solid #00ff93;
        border-radius: 5px;
        color: #faffff;
        letter-spacing: 00.1rem;
    }
    
    .nav-bar .search-part input::placeholder {
        color: #faffff;
    }
    .nav-bar .search-part button {
        display: none;
        min-width: 4vw;
        width: auto;
        height: 3vw;
        padding: 0 2%;
        /* background-color: #00ff93; */
        background: none;
        border: 1px solid #00ff93;
        color: #faffff;
    }

}
.search-part:hover button {
    display: block;
}

.search-part:hover input {
    width: 25vw;
}

.search-part input:focus {
    width: 25vw;
}