@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

/*<div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>*/
/*<div>Icons made by <a href="https://www.flaticon.com/authors/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Kanit";
}

button {
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

input {
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
}

input:focus {
    outline: none;
}

input::placeholder {
    font-weight: bolder;
    font-family: "KoHo";
}

@media only screen and (max-width: 649px) {
    .my-tickets-info {
        position: relative;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .my-tickets-info h2 {
        position: sticky;
        top: 0;
        height: 8vh;
        padding: 5px;
        background-color: orange;
        border-radius: 5px;
        color: #002433;
        font-weight: bolder;
        font-size: 10px;
        text-align: center;
    }
    .login-wrapper {
        width: 50vw;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border: 1px solid #fafafa;
        border-radius: 5px;
    }
    .login-wrapper .default-part {
        width: 40vw;
        height: 20vh;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }
    .login-wrapper .default-part button {
        width: 32px;
        height: 32px;
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 50%;
    }
    .login-part {
        width: 35vw;
        height: 35vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .login-part .input-fields, .register-part .input-fields {
        height: 20vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .login-part .input-fields input, .register-part .input-fields input {
        width: 35vw;
        height: 5vh;
        font-size: 10px;
    }
    .login-btn {
        width: 20vw;
        height: 5vh;
        margin-bottom: 15px;
    }
}

@media only screen and (min-width: 649px) {
    .my-tickets-info {
        position: relative;
        height: 15vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .my-tickets-info h2 {
        position: sticky;
        top: 0;
        height: 10vh;
        padding: 10px;
        background-color: orange;
        border-radius: 5px;
        color: #002433;
        font-weight: bolder;
    }
    .login-wrapper {
        width: 30vw;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border: 1px solid #fafafa;
        border-radius: 5px;
    }
    .login-wrapper .default-part {
        width: 30vw;
        height: 20vh;
        display: flex;
        justify-content: space-evenly;
    }
    .login-wrapper .default-part button {
        width: 64px;
        height: 64px;
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 50%;
    }
    .login-part {
        width: 30vw;
        height: 30vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .login-part .input-fields, .register-part .input-fields {
        height: 20vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .login-part .input-fields input, .register-part .input-fields input {
        width: 25vw;
    }
    .login-btn {
        width: 10vw;
        height: 5vh;
        margin-bottom: 15px;
    }
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 1;
}
.main-part {
    width: 100vw;
    height: 90vh;
    display: flex;
}

.loading {
    width: 100vw;
    height: 100vh;
    background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.loading h1 {
    color: #faffff;
}

.loading .loader {
    width: 70px;
    height: 70px;
    margin-top: 20px;
    border-top: 6px solid #002433;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

p {
    display: inline-block;
}

.addvanced-search {
    position: absolute;
    top: 10%;
    left: 10vw;
    width: 55vw;
    height: 80vh;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #202529;
    color: #fafafa;
    border-radius: 5px;
    z-index: 2;
    animation: big-sizy 1s ease-in-out;
}

@keyframes big-sizy {
    0%, 100% {
        top: 10%;
        left: 10vw;
        width: 55vw;
        height: 80vh;
    }

    50% {
        top: 5%;
        left: 5vw;
        width: 65vw;
        height: 85vh;
    }
}

.addvanced-search input {
    width: 45vw;
    height: 7vh;
    padding: 5px;
    background-color: #2b3034;
    color: #faffff;
    font-size: 20px;
}

.addvanced-search .advanced-search-btn {
    width: 45vw;
    height: 10vh;
    border: none;
    border-radius: 5px;
    background-color: #00ff93;
    font-size: 16px;
    font-weight: bold;
}

@keyframes copied {
    0%{
        color: #fafafa;
    }
    50% {
        color: orange;
    }
    25%, 75% {
        color: #002433;
    }
    100% {
        color: #00ff93;
    }
}

.login-page {
    width: 100vw;
    height: 100vh;
    background-color: #002433;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-wrapper .default-part div:nth-child(1) button {
    background-image: url("../public/employees.png");
}

.login-wrapper .default-part div:nth-child(2) button {
    background-image: url("../public/manager.png");
}

.demo-login, .administrator-login {
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.hover-div {
    width: 13vw;
    opacity: 0;
    color: #faffff;
    font-family: monospace;
    text-align: center;
}

.demo-login:hover {
    opacity: 0.8;
}

.demo-login:hover div {
    opacity: 1;
}

.administrator-login:hover {
    opacity: 0.8;
}

.administrator-login:hover div {
    opacity: 1;
}

.login-part .button-part, .register-part .button-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.login-btn:hover {
    background-color: orange;
}

.login-part .button-part div p {
    color: #faffff;
    text-align: center;
}

.login-part .button-part div p button {
    background: none;
    color: #00ff93;
}

.register-part .button-part button:nth-child(2) {
    background: none;
    color: #00ff93;
}

::-webkit-scrollbar {
    width: 15px;
                
}

/* Track */
::-webkit-scrollbar-track {
    background: beige; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: lightseagreen;
                
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(32, 178, 171, 0.705);
}